.FormContainer {
  margin-block-start: 5%;
  padding-inline: 15% 15%;

  .FormContainerHeader {
    display: flex;
    justify-content: center;

    .FormHeaderParagraph {
      font-family: "Inter";
      font-weight: 500;
      font-size: 24px;
      text-transform: capitalize;
      font-feature-settings: "salt" on, "liga" off;
      color: #000000;
    }
  }
  .Forms {
    background: #ffffff;
    box-shadow: 0px 4px 63px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    padding: 1.5rem;
    margin-block-start: 2rem;

    form {
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }

    .FormHeader {
      text-align: center;
      font-family: "Poppins";
      font-weight: 700;
      font-size: 28px;
      color: #f4511e;
    }

    .FormInputSelect {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 2rem;

      .InputField {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        label {
          font-family: "Poppins";
          font-weight: 600;
          font-size: 17px;
          color: #252b42;
          text-transform: capitalize;

          .HashSpan {
            color: #f4511e;
            font-weight: bolder;
          }
        }

        input {
          background: #f9f9f9;
          border: 1px solid #e6e6e6;
          border-radius: 5px;
          font-family: "Inter";
          font-size: 14px;
          color: #737373;
          padding-block: 1rem;
          padding-inline: 0.5rem;
        }
        input:focus,
        select:focus {
          outline: none !important;
          border: 2px solid #f4511e !important;
        }

        select {
          background: #f9f9f9;
          border: 1px solid #e6e6e6;
          border-radius: 5px;
          font-family: "Inter";
          font-size: 14px;
          color: #737373;
          padding-block: 1rem;
          padding-inline: 0.5rem;
        }
      }
    }
    .TextareaFileUpload {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      .InputField {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        label {
          font-family: "Poppins";
          font-weight: 600;
          font-size: 17px;
          color: #252b42;
          text-transform: capitalize;

          .HashSpan {
            color: #f4511e;
            font-weight: bolder;
          }
        }
        textarea {
          background: #f9f9f9;
          border: 1px solid #e6e6e6;
          border-radius: 5px;
          height: 8rem;
          padding: 0.5rem;
          resize: none;
        }
        textarea:focus {
          outline: none !important;
          border: 2px solid #f4511e !important;
        }

        .fileUploadPlaceHolder {
          font-family: "Poppins";
          font-weight: bolder;
          font-size: 16px;
          text-align: center;
          color: #000000;
          background: #f9f9f9;
          border: 1px dashed #f4511e;
          border-radius: 5px;
          height: 6rem;
          padding: 0.5rem;

          .fileUploadSpan {
            color: #f4511e;
          }
          p {
            font-weight: lighter;
            color: rgba(0, 0, 0, 0.5);
            font-size: 12px;
          }
        }
      }
    }
    .btnSubmit {
      background: #f4511e;
      border-radius: 9.07965px;
      width: 40%;
      height: 69px;
      color: #ffffff;
      border: #f4511e 1px solid;
      font-size: 20px;
      text-transform: capitalize;
      font-weight: bold;
      align-self: center;
    }
  }
}
