.CostContainer {
  margin-block-start: 5%;
  padding-inline: 12% 15%;

  .CostContainerHeading {
    font-family: "Inter";
    font-weight: 800;
    font-size: 36px;
    text-transform: capitalize;
    font-feature-settings: "salt" on, "liga" off;
    color: #18191f;

    .CostContainerHeadingSpan {
      border-bottom: #f4511e solid 3px;
    }
  }

  .CostContainerFlex {
    display: flex;
    align-items: center;
    gap: 5%;

    .CostContainerGridContainer {
      display: flex;
      flex-direction: column;
      gap: 5rem;

      .CostContainerGrid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        // align-items: center;
        gap: 10%;

        .LivingCostSpan {
          width: 180px;

          .LivingCostSpanImgWrap {
            width: 77px;
            height: 77px;
            background: #ffffff;
            border: #ffffff 1px;
            box-shadow: 0px 12px 19px rgba(0, 0, 0, 0.15);
            border-radius: 10px;
            cursor: pointer;

            & :hover {
              transition: 0.3ms;
              font-size: 2.1rem;
              color: #f76235;
            }

            .livingcosticon {
              color: #f4511e;
              font-size: 2rem;
            }
          }
          .livingcostparagraph {
            font-family: "Inter";
            font-size: 1.1rem;
            text-transform: capitalize;
            // font-feature-settings: "salt" on, "liga" off;
            color: #18191f;
          }
        }
      }
    }
  }
}
